.card-category-form {

  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 14px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px 5px 30px 5px;
  margin: auto;
}
