<h1>Recettes#show</h1>
<p>Find me in app/views/recettes/show.html.erb</p>
<p>J esuis ici</p>


<h1> <%= @recette.titre %> </h1>
<p> <%= @recette.description  %></p>
<h1> <% cl_image_tag @recette.photo.key %></h1>
<%  %>
<%  %>
