
<div>
  <%= simple_form_for [@recette, @review] do |f| %>
    <%= f.input :commentaire %>
    <%= f.input :note, label: 'Note', collection: ["1", "2", "3", "4", "5"], as: :radio_buttons %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
